/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CENTRALIZZAZIONE LAYOUT*/
.containerHeader {
    display: flex;
    justify-content: center;
    background-color: rgb(98, 255, 255);
    padding: 10px auto;
}
.sectionHeader {
    background-color: goldenrod;
    border: 1px dashed black;
    margin: 15px 0px;
    padding: 10px; 
}
.centralColumn {
    
}
/*HEADER*/

